In [1]:
import sqlite3
import pandas as pd

In [64]:
conn = sqlite3.connect('data/lego.db')
df = pd.read_sql_query("SELECT * FROM minifigs WHERE category = 'Avatar'", conn)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             27 non-null     object
 1   name           27 non-null     object
 2   category       27 non-null     object
 3   sub_category   22 non-null     object
 4   image          27 non-null     object
 5   appears_in     27 non-null     object
 6   avg_price_raw  27 non-null     object
 7   avg_price_pln  23 non-null     float64
 8   avg_price_eur  23 non-null     float64
 9   bricklink      27 non-null     object
 10  release_year   27 non-null     int64
dtypes: float64(2), int64(1), object(8)
memory usage: 2.4+ KB

In [66]:
set(df["avg_price_raw"].values)  #[df["release_year"] == "?"]

{'',
 'EUR 10.78',
 'EUR 11.30',
 'EUR 13.00',
 'EUR 6.88',
 'EUR 7.17',
 'EUR 7.23',
 'EUR 8.54',
 'PLN 28.03',
 'PLN 31.24',
 'PLN 32.04',
 'PLN 34.89',
 'PLN 40.51',
 'PLN 41.14',
 'PLN 41.42',
 'PLN 41.58',
 'PLN 42.45',
 'PLN 45.41',
 'PLN 62.83',
 'PLN 64.21',
 'PLN 67.16',
 'PLN 83.78'}

In [67]:
df[df["avg_price_raw"] == "None"]

Empty DataFrame
Columns: [id, name, category, sub_category, image, appears_in, avg_price_raw, avg_price_pln, avg_price_eur, bricklink, release_year]
Index: []

In [8]:
df[df["id"] == "sw0282"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,bricklink,release_year
0,sw0282,2-1B Medical Droid (Badge with Letter 'T' Patt...,Star Wars,Star Wars Episode 3,https://img.bricklink.com/ItemImage/MN/0/sw028...,['8096-1'],PLN 40.71,40.71,https://www.bricklink.com/v2/catalog/catalogit...,2010

In [30]:
print(df["name"].tolist())

["2-1B Medical Droid (Badge with Letter 'T' Pattern)", '2-1B Medical Droid (Dotted Badge and Peeling Paint Pattern)', '2-1B Medical Droid (Dotted Badge Pattern, Dark Bluish Gray Legs)', '2-1B Medical Droid (Dotted Badge Pattern, Light Bluish Gray Legs)', '4-LOM', 'Aayla Secura', 'Aayla Secura - Large Eyes', 'Admiral (Colonel) Wullf Yularen', 'Admiral Ackbar', 'Admiral Ackbar (Medium Nougat Robe)']

In [31]:
len(df["id"].tolist())

10

In [35]:
print(df["avg_price_raw"].tolist())

['PLN 40.71', 'PLN 158.25', 'PLN 63.56', 'PLN 70.06', 'PLN 28.60', '', '', '', '', '']

In [34]:
print(df["release_year"].tolist())

[2010, 2018, 2018, 2011, 2017, 2017, 2010, 2015, 2009, 2016]

In [68]:
conn = sqlite3.connect('data/lego.db')
df = pd.read_sql_query("SELECT * FROM notion_mapping", conn)

In [69]:
df

                                   page_id   bl_id
0     1bea3f87-e54b-4c0f-bdcd-11362c03ebca  sw0002
1     2cc3703f-76c0-470c-8e1d-6e9385940743  sw0003
2     f0eb3828-3c82-433a-8135-c1cea506888a  sw0004
3     c806677c-e290-43af-abcb-fd31df963719  sw0005
4     68d7f91e-44e5-4eab-b2e0-5d5139b22277  sw0006
...                                    ...     ...
1361  fe80cd77-a2f5-4c39-8a65-4050deb2e075  avt023
1362  316d3fa0-3d16-4638-8cba-85d574ba6d17  avt024
1363  3ec23aa5-e14e-499d-b6e5-16d034bc8c8e  avt025
1364  261768b0-5c6a-4e42-abb1-f0b1eb9aca0c  avt026
1365  c4711f6d-aaed-4c5c-8e0d-d01d93a54f2a  avt027

[1366 rows x 2 columns]

In [71]:
len(set(df["bl_id"].values))

1366