In [1]:
import sqlite3

import pandas as pd

# Read minifigs

In [40]:
conn = sqlite3.connect('data/lego.db')
df = pd.read_sql_query("SELECT * FROM minifigs WHERE category = 'Star Wars'", conn)
# df = pd.read_sql_query("SELECT * FROM minifigs", conn)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1366 entries, 0 to 1365
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1366 non-null   object
 1   name           1366 non-null   object
 2   category       1366 non-null   object
 3   sub_category   1327 non-null   object
 4   image          1366 non-null   object
 5   appears_in     1309 non-null   object
 6   avg_price_raw  171 non-null    object
 7   avg_price_pln  171 non-null    float64
 8   avg_price_eur  171 non-null    float64
 9   bricklink      1366 non-null   object
 10  release_year   1052 non-null   float64
dtypes: float64(3), object(8)
memory usage: 117.5+ KB

In [42]:
column_name = "appears_in"
print(df[df[column_name] == "None"].shape)
print(df[df[column_name] == ""].shape)
print(df[df[column_name].isnull()].shape)
print(f"Not null: {df[~df[column_name].isnull()].shape}")

(0, 11)
(0, 11)
(57, 11)
Not null: (1309, 11)

In [12]:
df

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
0,sw0002,Boba Fett - Classic Grays,Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2000.0
1,sw0003,Darth Maul,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
2,sw0004,Darth Vader (Light Gray Head),Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
3,sw0005,"Imperial Scout Trooper - Yellow Head, Dark Gra...",Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
4,sw0006,Aldar Beedo,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2000.0
...,...,...,...,...,...,...,...,...,...,...,...
3069,sh497,"Iron Man Mark 50 Armor, Neck Bracket",Super Heroes,Avengers Infinity War,https://img.bricklink.com/ItemImage/MN/0/sh497...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
3070,sh585,Nick Fury - Gray Sweater and Black Trench Coat...,Super Heroes,Spider-Man Far From Home,https://img.bricklink.com/ItemImage/MN/0/sh585...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
3071,sh905,Spider-Man - Christmas Sweater,Super Heroes,Avengers,https://img.bricklink.com/ItemImage/MN/0/sh905...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
3072,sh614,Spider-Man Noir (Undetermined Type),Super Heroes,Spider-Man,https://img.bricklink.com/ItemImage/MN/0/sh614...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
3073,sh903,"The Joker - Medium Lavender Suit, Dark Green V...",Super Heroes,Batman II,https://img.bricklink.com/ItemImage/MN/0/sh903...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN

In [8]:
df[df["id"] == "sw1289"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
3051,sw1289,Captain Porter (75364),Star Wars,Star Wars Ahsoka,https://img.bricklink.com/ItemImage/MN/0/sw128...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN

In [45]:
df[df["id"] == "sw1052"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
1103,sw1052,"Astromech Droid, Dark Turquoise",Star Wars,Star Wars Episode 9,https://img.bricklink.com/ItemImage/MN/0/sw105...,75249-1,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2019.0

# Read sets

In [13]:
conn = sqlite3.connect('data/lego.db')
sets_df = pd.read_sql_query("SELECT * FROM sets WHERE category = 'Star Wars'", conn)

In [14]:
sets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 908 non-null    object
 1   name               908 non-null    object
 2   category           908 non-null    object
 3   sub_category       908 non-null    object
 4   image              908 non-null    object
 5   minifigs_included  466 non-null    object
 6   avg_price_raw      0 non-null      object
 7   avg_price_pln      0 non-null      object
 8   avg_price_eur      0 non-null      object
 9   bricklink          908 non-null    object
 10  release_year       466 non-null    float64
dtypes: float64(1), object(10)
memory usage: 78.2+ KB

In [18]:
sets_df[sets_df["id"] == "76196-1"]

Empty DataFrame
Columns: [id, name, category, sub_category, image, minifigs_included, avg_price_raw, avg_price_pln, avg_price_eur, bricklink, release_year]
Index: []

In [16]:
sets_df

,id,name,category,sub_category,image,minifigs_included,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
0,7101-1,Lightsaber Duel,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/7101-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
1,7104-1,Desert Skiff,Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/ON/0/7104-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,2000.0
2,7110-1,Landspeeder,Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/ON/0/7110-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
3,7111-1,Droid Fighter,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/7111-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
4,7115-1,Gungan Patrol,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/7115-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,2000.0
...,...,...,...,...,...,...,...,...,...,...,...
903,VP-8,"Star Wars Bundle Pack, Value Pack (Copack of S...",Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/ON/0/VP-8.png,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN
904,VP-10,Star Wars Value Pack with Free LEGO Backpack (...,Star Wars,Star Wars Other,https://img.bricklink.com/ItemImage/ON/0/VP-10...,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN
905,VP-11,"Star Wars Bundle Pack (Copack of Sets 7101, 71...",Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/VP-11...,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN
906,VP-12,"Star Wars Value Pack (7121, 7151)",Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/VP-12...,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN
907,yodachron-1,Holocron Chamber - The Yoda Chronicles Promoti...,Star Wars,Star Wars Yoda Chronicles,https://img.bricklink.com/ItemImage/ON/0/yodac...,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN

# Read notion_mapping

In [40]:
conn = sqlite3.connect('data/lego.db')
df_notion = pd.read_sql_query("SELECT * FROM notion_mapping WHERE account_name = 'VI'", conn)

In [41]:
df_notion

                                  page_id    bl_id account_name
0    1dfd7e30-d17c-48af-b616-c7b4c0d2eaea  76266-1           VI
1    2965c8c3-013d-46ed-a9dc-a64841d285d4  75371-1           VI
2    c2e7100e-25ed-4a82-9504-1c58d1e335cb  75370-1           VI
3    a20e6dcb-d417-4f94-ad54-7368be6c8a92  75369-1           VI
4    ef81054d-26c7-4199-bc2f-812b4b01c283  75368-1           VI
..                                    ...      ...          ...
707  b2b057f1-9525-4582-bdac-e8cf10a39a29   sw1040           VI
708  f77c7ed5-d1ce-4542-894d-030063d91555   sw1039           VI
709  064d326b-b2d2-4ebf-b99a-96620ba2d5f6   sw1038           VI
710  6ef6ee5e-8cd8-43df-a62d-b801611c0b0c   sw1037           VI
711  1e0f60e0-8a56-4715-80ba-95ee14c01491   sw1036           VI

[712 rows x 3 columns]