In [1]:
import sqlite3

import pandas as pd

# Read minifigs

In [39]:
conn = sqlite3.connect('data/lego.db')
df = pd.read_sql_query("SELECT * FROM minifigs WHERE category = 'Super Heroes'", conn)
# df = pd.read_sql_query("SELECT * FROM minifigs", conn)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             926 non-null    object
 1   name           926 non-null    object
 2   category       926 non-null    object
 3   sub_category   920 non-null    object
 4   image          926 non-null    object
 5   appears_in     257 non-null    object
 6   avg_price_raw  36 non-null     object
 7   avg_price_pln  30 non-null     float64
 8   avg_price_eur  30 non-null     float64
 9   bricklink      926 non-null    object
 10  release_year   918 non-null    float64
dtypes: float64(3), object(8)
memory usage: 79.7+ KB

In [31]:
column_name = "appears_in"
print(df[df[column_name] == "None"].shape)
print(df[df[column_name] == ""].shape)
print(df[df[column_name].isnull()].shape)
print(f"Not null: {df[~df[column_name].isnull()].shape}")

(0, 11)
(0, 11)
(69, 11)
Not null: (1297, 11)

In [12]:
df

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
0,sw0002,Boba Fett - Classic Grays,Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2000.0
1,sw0003,Darth Maul,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
2,sw0004,Darth Vader (Light Gray Head),Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
3,sw0005,"Imperial Scout Trooper - Yellow Head, Dark Gra...",Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
4,sw0006,Aldar Beedo,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/MN/0/sw000...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2000.0
...,...,...,...,...,...,...,...,...,...,...,...
3069,sh497,"Iron Man Mark 50 Armor, Neck Bracket",Super Heroes,Avengers Infinity War,https://img.bricklink.com/ItemImage/MN/0/sh497...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
3070,sh585,Nick Fury - Gray Sweater and Black Trench Coat...,Super Heroes,Spider-Man Far From Home,https://img.bricklink.com/ItemImage/MN/0/sh585...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
3071,sh905,Spider-Man - Christmas Sweater,Super Heroes,Avengers,https://img.bricklink.com/ItemImage/MN/0/sh905...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
3072,sh614,Spider-Man Noir (Undetermined Type),Super Heroes,Spider-Man,https://img.bricklink.com/ItemImage/MN/0/sh614...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
3073,sh903,"The Joker - Medium Lavender Suit, Dark Green V...",Super Heroes,Batman II,https://img.bricklink.com/ItemImage/MN/0/sh903...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN

In [38]:
df[df["id"] == "sw1172"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
1219,sw1172,Paz Vizsla,Star Wars,Star Wars The Mandalorian,https://img.bricklink.com/ItemImage/MN/0/sw117...,75318,EUR 38.52,172.92,38.52,https://www.bricklink.com/v2/catalog/catalogit...,2021.0

In [41]:
df[df["id"] == "sh841"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
858,sh841,King Namor,Super Heroes,Black Panther Wakanda Forever,https://img.bricklink.com/ItemImage/MN/0/sh841...,"76214-1,76213-1",None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2022.0

# Read sets

In [13]:
conn = sqlite3.connect('data/lego.db')
sets_df = pd.read_sql_query("SELECT * FROM sets WHERE category = 'Star Wars'", conn)

In [14]:
sets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 908 non-null    object
 1   name               908 non-null    object
 2   category           908 non-null    object
 3   sub_category       908 non-null    object
 4   image              908 non-null    object
 5   minifigs_included  466 non-null    object
 6   avg_price_raw      0 non-null      object
 7   avg_price_pln      0 non-null      object
 8   avg_price_eur      0 non-null      object
 9   bricklink          908 non-null    object
 10  release_year       466 non-null    float64
dtypes: float64(1), object(10)
memory usage: 78.2+ KB

In [18]:
sets_df[sets_df["id"] == "76196-1"]

Empty DataFrame
Columns: [id, name, category, sub_category, image, minifigs_included, avg_price_raw, avg_price_pln, avg_price_eur, bricklink, release_year]
Index: []

In [16]:
sets_df

,id,name,category,sub_category,image,minifigs_included,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
0,7101-1,Lightsaber Duel,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/7101-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
1,7104-1,Desert Skiff,Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/ON/0/7104-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,2000.0
2,7110-1,Landspeeder,Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/ON/0/7110-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
3,7111-1,Droid Fighter,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/7111-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
4,7115-1,Gungan Patrol,Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/7115-...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,2000.0
...,...,...,...,...,...,...,...,...,...,...,...
903,VP-8,"Star Wars Bundle Pack, Value Pack (Copack of S...",Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/ON/0/VP-8.png,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN
904,VP-10,Star Wars Value Pack with Free LEGO Backpack (...,Star Wars,Star Wars Other,https://img.bricklink.com/ItemImage/ON/0/VP-10...,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN
905,VP-11,"Star Wars Bundle Pack (Copack of Sets 7101, 71...",Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/VP-11...,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN
906,VP-12,"Star Wars Value Pack (7121, 7151)",Star Wars,Star Wars Episode 1,https://img.bricklink.com/ItemImage/ON/0/VP-12...,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN
907,yodachron-1,Holocron Chamber - The Yoda Chronicles Promoti...,Star Wars,Star Wars Yoda Chronicles,https://img.bricklink.com/ItemImage/ON/0/yodac...,None,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,NaN

# Read notion_mapping

In [47]:
conn = sqlite3.connect('data/lego.db')
df_notion = pd.read_sql_query(
    "SELECT * FROM notion_mapping WHERE account_name = 'JO'",
    # and (bl_id like 'sw%' or bl_id like 'sh%' or bl_id like 'avt%' or bl_id like 'hfw%' or bl_id like 'col%')",
    conn)

In [48]:
df_notion

                                   page_id    bl_id account_name
0     ee223296-a8a4-4f73-87f1-162959b257d0  76989-1           JO
1     b597136d-fb54-409b-91a5-465f1715f909  75579-1           JO
2     d10346c1-e9d2-4e13-8b2f-d67bddf75f2e  75578-1           JO
3     469f96b0-9054-4c4b-826d-34241bfd3e3c  75577-1           JO
4     8e54c728-005c-48a9-b4b5-b07553b59990  75576-1           JO
...                                    ...      ...          ...
3170  3156cbcb-2075-4553-9506-fb1df1a1f0cb   avt025           JO
3171  5b34994f-ef70-42d9-a91c-779faf66e595   avt026           JO
3172  9a35f79b-7c09-47d4-8d8e-b6e45ed2d0a6   avt027           JO
3173  9cffc595-cc42-427d-a9d9-a6f965478be3   hfw001           JO
3174  3795de29-bb69-4ad2-962f-866407f4b7a2   hfw002           JO

[3175 rows x 3 columns]

In [42]:
df_notion[df_notion["bl_id"] == "76125-1"]

                                  page_id    bl_id account_name
267  d7e8d2e0-7b4b-476c-ba72-761f052c4d2d  76125-1           JO

In [49]:
# Check for duplicates
ids = df_notion["bl_id"]
df_notion[ids.isin(ids[ids.duplicated()])].sort_values("bl_id")

Empty DataFrame
Columns: [page_id, bl_id, account_name]
Index: []

In [24]:
pd.concat(g for _, g in df_notion.groupby("bl_id") if len(g) > 1)

                                   page_id    bl_id account_name
2413  11a125be-3e69-4691-a0ce-12a2643614f6  sw0106a           JO
2458  baeab2eb-5a23-4e4c-a446-4b72a95c4938  sw0106a           JO
2412  22fb9dae-62ea-42df-b1e2-9c282791c9d7   sw0112           JO
2457  9c0d7ca7-24d7-484a-8e88-2d0dacc99eb8   sw0112           JO
2411  c2cf815a-d4ec-44fa-b6ba-255aba64ecd3   sw0166           JO
2459  67911005-45b0-45f9-8978-5aaf387dc9a7   sw0166           JO
2410  0c5138c7-3bb4-4d4f-a63a-50b9577fa4ed   sw0202           JO
2455  5291ba42-5b6f-4c37-a14d-3390fe87a12f   sw0202           JO
2409  1ceabb7e-7907-4092-a199-caf52e1b0799   sw0216           JO
2454  cb5cc506-c9a6-4e0e-b21b-61d9512431c7   sw0216           JO
2408  f2a490a4-2596-4956-a84d-86a3e2f941eb   sw0388           JO
2452  4d2d0e5b-0c42-4941-a796-7860f24a373f   sw0388           JO
2407  7cc1c01a-ceff-4e39-a322-7a74d352f9f0   sw0997           JO
2451  27a4da31-6c1e-4068-a5e9-e4a20c025c46   sw0997           JO
2406  427142e4-abbb-43eb-b076-a0c94e415f62   sw1254           JO
2450  50a98d2a-37a1-4a34-821d-30f6eb9ed04f   sw1254           JO
2405  419724dc-a841-470b-8d28-d21f8a5ccfdb   sw1289           JO
2447  e6c4588e-14bc-47fb-acc2-b1720910fb33   sw1289           JO
2404  a894f336-3d01-4c2a-91a6-bbd77c23259a   sw1290           JO
2446  fcd183a8-49e3-45a9-bc34-87204598523f   sw1290           JO
2403  cf2182a3-1e76-4099-b499-73e4e6bbd4b8   sw1291           JO
2449  b3c0bbaf-76c7-4412-b075-6713c7f7b996   sw1291           JO
2402  6f2a094a-b34b-4bb1-8897-51a9d32c90cf   sw1292           JO
2445  dbb875ad-6f81-4e89-bcd5-ba753fedc4d8   sw1292           JO
2401  f9777004-6e72-4af9-8c27-2b7d6bfd586d   sw1293           JO
2453  0eb478ed-1598-4c4a-a291-57fc6d098041   sw1293           JO