In [1]:
import sqlite3

import pandas as pd

# Read minifigs

In [19]:
conn = sqlite3.connect('data/lego.db')
# df = pd.read_sql_query("SELECT * FROM minifigs WHERE category = 'Super Heroes'", conn)
df = pd.read_sql_query("SELECT * FROM minifigs", conn)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3053 entries, 0 to 3052
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3053 non-null   object
 1   name           3053 non-null   object
 2   category       3053 non-null   object
 3   sub_category   2984 non-null   object
 4   image          3053 non-null   object
 5   appears_in     1274 non-null   object
 6   avg_price_raw  224 non-null    object
 7   avg_price_pln  224 non-null    float64
 8   avg_price_eur  224 non-null    float64
 9   bricklink      3053 non-null   object
 10  release_year   3029 non-null   float64
dtypes: float64(3), object(8)
memory usage: 262.5+ KB

In [21]:
column_name = "appears_in"
print(df[df[column_name] == "None"].shape)
print(df[df[column_name] == ""].shape)
print(df[df[column_name].isnull()].shape)

(0, 11)
(0, 11)
(1779, 11)

In [23]:
df[df["id"] == "sw1035"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
1081,sw1035,Captain Antilles (Dark Tan Shirt),Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw103...,75244-1,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2019.0

In [14]:
df[df["id"] == "sw1254"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
3047,sw1254,Obi-Wan Kenobi (Old) - Tattered Cape (Watch 90...,Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw125...,,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN

# Read sets

In [24]:
conn = sqlite3.connect('data/lego.db')
sets_df = pd.read_sql_query("SELECT * FROM sets WHERE category = 'Star Wars'", conn)

In [25]:
sets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466 entries, 0 to 465
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 466 non-null    object
 1   name               466 non-null    object
 2   category           466 non-null    object
 3   sub_category       466 non-null    object
 4   image              466 non-null    object
 5   minifigs_included  466 non-null    object
 6   avg_price_raw      0 non-null      object
 7   avg_price_pln      0 non-null      object
 8   avg_price_eur      0 non-null      object
 9   bricklink          466 non-null    object
 10  release_year       466 non-null    int64
dtypes: int64(1), object(10)
memory usage: 40.2+ KB

In [8]:
sets_df[sets_df["id"] == "75254-1"]

,id,name,category,sub_category,image,minifigs_included,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
362,75254-1,AT-ST Raider,Star Wars,Star Wars The Mandalorian,https://img.bricklink.com/ItemImage/ON/0/75254...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,2019

# Read notion_mapping

In [34]:
conn = sqlite3.connect('data/lego.db')
df = pd.read_sql_query("SELECT * FROM notion_mapping WHERE account_name = 'JO'", conn)

In [35]:
df

                                   page_id    bl_id account_name
0     3795de29-bb69-4ad2-962f-866407f4b7a2   hfw002           JO
1     9cffc595-cc42-427d-a9d9-a6f965478be3   hfw001           JO
2     ee223296-a8a4-4f73-87f1-162959b257d0  76989-1           JO
3     9a35f79b-7c09-47d4-8d8e-b6e45ed2d0a6   avt027           JO
4     5b34994f-ef70-42d9-a91c-779faf66e595   avt026           JO
...                                    ...      ...          ...
3189  1ceabb7e-7907-4092-a199-caf52e1b0799   sw0216           JO
3190  0c5138c7-3bb4-4d4f-a63a-50b9577fa4ed   sw0202           JO
3191  c2cf815a-d4ec-44fa-b6ba-255aba64ecd3   sw0166           JO
3192  22fb9dae-62ea-42df-b1e2-9c282791c9d7   sw0112           JO
3193  11a125be-3e69-4691-a0ce-12a2643614f6  sw0106a           JO

[3194 rows x 3 columns]