In [1]:
import sqlite3

import pandas as pd

# Read minifigs

In [43]:
conn = sqlite3.connect('data/lego.db')
# df = pd.read_sql_query("SELECT * FROM minifigs WHERE category = 'Super Heroes'", conn)
df = pd.read_sql_query("SELECT * FROM minifigs", conn)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3053 entries, 0 to 3052
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3053 non-null   object
 1   name           3053 non-null   object
 2   category       3053 non-null   object
 3   sub_category   2984 non-null   object
 4   image          3053 non-null   object
 5   appears_in     1340 non-null   object
 6   avg_price_raw  220 non-null    object
 7   avg_price_pln  220 non-null    float64
 8   avg_price_eur  220 non-null    float64
 9   bricklink      3053 non-null   object
 10  release_year   3029 non-null   float64
dtypes: float64(3), object(8)
memory usage: 262.5+ KB

In [21]:
column_name = "appears_in"
print(df[df[column_name] == "None"].shape)
print(df[df[column_name] == ""].shape)
print(df[df[column_name].isnull()].shape)

(0, 11)
(0, 11)
(1779, 11)

In [23]:
df[df["id"] == "sw1035"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
1081,sw1035,Captain Antilles (Dark Tan Shirt),Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw103...,75244-1,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2019.0

In [45]:
df[df["id"] == "sw1052"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
1103,sw1052,"Astromech Droid, Dark Turquoise",Star Wars,Star Wars Episode 9,https://img.bricklink.com/ItemImage/MN/0/sw105...,75249-1,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2019.0

# Read sets

In [24]:
conn = sqlite3.connect('data/lego.db')
sets_df = pd.read_sql_query("SELECT * FROM sets WHERE category = 'Star Wars'", conn)

In [25]:
sets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466 entries, 0 to 465
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 466 non-null    object
 1   name               466 non-null    object
 2   category           466 non-null    object
 3   sub_category       466 non-null    object
 4   image              466 non-null    object
 5   minifigs_included  466 non-null    object
 6   avg_price_raw      0 non-null      object
 7   avg_price_pln      0 non-null      object
 8   avg_price_eur      0 non-null      object
 9   bricklink          466 non-null    object
 10  release_year       466 non-null    int64
dtypes: int64(1), object(10)
memory usage: 40.2+ KB

In [42]:
sets_df[sets_df["id"] == "75254-1"]

,id,name,category,sub_category,image,minifigs_included,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
362,75254-1,AT-ST Raider,Star Wars,Star Wars The Mandalorian,https://img.bricklink.com/ItemImage/ON/0/75254...,TBD,None,None,None,https://www.bricklink.com/v2/catalog/catalogit...,2019

# Read notion_mapping

In [40]:
conn = sqlite3.connect('data/lego.db')
df_notion = pd.read_sql_query("SELECT * FROM notion_mapping WHERE account_name = 'VI'", conn)

In [41]:
df_notion

                                  page_id    bl_id account_name
0    1dfd7e30-d17c-48af-b616-c7b4c0d2eaea  76266-1           VI
1    2965c8c3-013d-46ed-a9dc-a64841d285d4  75371-1           VI
2    c2e7100e-25ed-4a82-9504-1c58d1e335cb  75370-1           VI
3    a20e6dcb-d417-4f94-ad54-7368be6c8a92  75369-1           VI
4    ef81054d-26c7-4199-bc2f-812b4b01c283  75368-1           VI
..                                    ...      ...          ...
707  b2b057f1-9525-4582-bdac-e8cf10a39a29   sw1040           VI
708  f77c7ed5-d1ce-4542-894d-030063d91555   sw1039           VI
709  064d326b-b2d2-4ebf-b99a-96620ba2d5f6   sw1038           VI
710  6ef6ee5e-8cd8-43df-a62d-b801611c0b0c   sw1037           VI
711  1e0f60e0-8a56-4715-80ba-95ee14c01491   sw1036           VI

[712 rows x 3 columns]