In [2]:
import sqlite3

import pandas as pd

In [92]:
conn = sqlite3.connect('data/lego.db')
# df = pd.read_sql_query("SELECT * FROM minifigs WHERE category = 'Super Heroes'", conn)
df = pd.read_sql_query("SELECT * FROM minifigs", conn)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3053 entries, 0 to 3052
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3053 non-null   object
 1   name           3053 non-null   object
 2   category       3053 non-null   object
 3   sub_category   2984 non-null   object
 4   image          3053 non-null   object
 5   appears_in     396 non-null    object
 6   avg_price_raw  129 non-null    object
 7   avg_price_pln  129 non-null    float64
 8   avg_price_eur  129 non-null    float64
 9   bricklink      3053 non-null   object
 10  release_year   3029 non-null   float64
dtypes: float64(3), object(8)
memory usage: 262.5+ KB

In [75]:
column_name = "sub_category"
print(df[df[column_name] == "None"].shape)
print(df[df[column_name] == ""].shape)
# df[df["appears_in"] == "[]"].shape
print(df[df[column_name].isnull()].shape)

(0, 11)
(0, 11)
(69, 11)

In [77]:
df[df["sub_category"].isnull()]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
26,sw0028,"Astromech Droid, R2-D2",Star Wars,None,https://img.bricklink.com/ItemImage/MN/0/sw002...,"7669-1,7669-2,7106-1,4475-1,7190-1,7171-1,7141...",PLN 14.27,14.27,3.18,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
27,sw0029,"Astromech Droid, R5-D4, Short Red Stripes on Dome",Star Wars,None,https://img.bricklink.com/ItemImage/MN/0/sw002...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,1999.0
53,sw0051,Yoda - Sand Green,Star Wars,None,https://img.bricklink.com/ItemImage/MN/0/sw005...,"7103-1,7260-1,4502-1,4502-2",EUR 14.52,65.18,14.52,https://www.bricklink.com/v2/catalog/catalogit...,2002.0
74,sw0063,"Droideka (Destroyer Droid) - Brown, Light Gray...",Star Wars,None,https://img.bricklink.com/ItemImage/MN/0/sw006...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2002.0
97,sw0011a,Chewbacca (Reddish Brown),Star Wars,None,https://img.bricklink.com/ItemImage/MN/0/sw001...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,2004.0
...,...,...,...,...,...,...,...,...,...,...,...
2323,col024b,Collectible Minifigure,Collectible Minifigures,None,https://img.bricklink.com/ItemImage/MN/0/col02...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
2324,col027b,Collectible Minifigure,Collectible Minifigures,None,https://img.bricklink.com/ItemImage/MN/0/col02...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
2325,col032b,Collectible Minifigure,Collectible Minifigures,None,https://img.bricklink.com/ItemImage/MN/0/col03...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
2348,col056old,Collectible Minifigure,Collectible Minifigures,None,https://img.bricklink.com/ItemImage/MN/0/col05...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN
2662,col271,Collectible Minifigure,Collectible Minifigures,None,https://img.bricklink.com/ItemImage/MN/0/col27...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN

In [88]:
df[df["id"] == "sw1254"]

,id,name,category,sub_category,image,appears_in,avg_price_raw,avg_price_pln,avg_price_eur,bricklink,release_year
3047,sw1254,Obi-Wan Kenobi (Old) - Tattered Cape (Watch 90...,Star Wars,Star Wars Episode 4/5/6,https://img.bricklink.com/ItemImage/MN/0/sw125...,None,None,NaN,NaN,https://www.bricklink.com/v2/catalog/catalogit...,NaN

In [56]:
print(set(df["avg_price_raw"].tolist()))

{'EUR 4.54', 'EUR 7.23', 'PLN 49.56', 'PLN 163.00', 'PLN 14.27', 'PLN 100.56', 'PLN 67.26', 'PLN 46.89', 'PLN 52.76', 'PLN 31.24', 'PLN 129.75', 'PLN 357.74', 'PLN 64.42', 'EUR 131.64', 'PLN 32.24', 'EUR 4.73', 'PLN 162.79', 'EUR 7.64', 'EUR 6.88', 'PLN 28.03', 'PLN 36.23', 'EUR 14.52', 'EUR 11.30', 'PLN 53.94', 'EUR 4.69', 'EUR 5.67', 'PLN 51.38', 'PLN 297.56', 'EUR 13.00', 'EUR 1.72', 'PLN 46.19', 'PLN 135.79', 'PLN 72.16', 'EUR 7.93', 'PLN 41.58', 'EUR 3.30', 'PLN 42.45', 'PLN 14.53', 'PLN 32.04', 'PLN 207.19', 'EUR 10.78', 'EUR 16.91', 'PLN 23.59', 'PLN 40.51', 'EUR 35.68', 'PLN 24.22', 'PLN 50.69', 'PLN 135.46', 'PLN 32.03', 'PLN 41.42', 'EUR 3.49', 'EUR 103.66', 'EUR 3.56', 'EUR 6.37', None, 'PLN 83.78', 'PLN 47.83', 'EUR 31.57', 'PLN 30.43', 'PLN 41.14', 'PLN 25.00', 'EUR 7.17', 'EUR 24.07', 'PLN 89.15', 'PLN 22.16', 'PLN 198.77', 'PLN 24.62', 'PLN 42.34', 'PLN 112.89', 'PLN 25.13', 'PLN 107.91', 'PLN 31.22', 'PLN 660.10', 'PLN 35.41', 'PLN 18.66', 'PLN 121.71', 'PLN 67.16', 'PLN 64.21', 'PLN 43.31', 'PLN 30.97', 'PLN 30.23', 'PLN 105.96', 'PLN 47.61', 'PLN 58.19', 'EUR 88.52', 'PLN 30.12', 'PLN 23.31', 'PLN 23.45', 'PLN 42.27', 'PLN 62.83', 'PLN 14.39', 'PLN 45.41', 'PLN 22.30', 'EUR 9.20', 'PLN 88.56', 'PLN 31.03', 'PLN 11.85', 'EUR 8.54', 'PLN 38.67', 'PLN 22.62', 'EUR 39.87', 'PLN 34.89'}

In [18]:
conn = sqlite3.connect('data/lego.db')
df = pd.read_sql_query("SELECT * FROM notion_mapping", conn)

In [19]:
df

                                 page_id    bl_id
0   3795de29-bb69-4ad2-962f-866407f4b7a2   hfw002
1   9cffc595-cc42-427d-a9d9-a6f965478be3   hfw001
2   ee223296-a8a4-4f73-87f1-162959b257d0  76989-1
3   9a35f79b-7c09-47d4-8d8e-b6e45ed2d0a6   avt027
4   5b34994f-ef70-42d9-a91c-779faf66e595   avt026
5   3156cbcb-2075-4553-9506-fb1df1a1f0cb   avt025
6   44c44a22-d927-472c-b0d9-5bc72f3bff38   avt024
7   fa3c4aa0-7e7d-479f-9316-a540a0acacaf   avt023
8   4b2c6d89-52d9-4b9b-8708-601f5498c93a   avt022
9   6fdcef1e-ddbd-40d1-a14e-4b8ac4625c37   avt021
10  80fda8fb-3db9-42a3-8822-c494e4ef6b14   avt020
11  01b80366-0adc-4734-9001-e80206a9edfc   avt019
12  a0b4e896-b1ae-4226-8119-9e8d15b9e6b9   avt018
13  80ea46b7-3d2d-4df9-9748-a65c4b22f651   avt017
14  50fd55e2-984d-4c5b-a748-1abe0e8b9f57   avt016
15  77cd75f0-0fcd-4f17-ac9f-74d0e3af6d6a   avt015
16  f5cf53dd-f665-4966-8710-c05d03c3e876   avt014
17  b3277d12-76bb-4b5c-b3f2-3801f8f0d285   avt013
18  4d8e2f05-e5e1-4144-8990-f920811fa298   avt012
19  875de285-1869-49d4-b1dd-bcf3f0ee3332   avt011
20  e83ff4ee-7293-4fc6-a2b4-fa0dd22604a9   avt010
21  bc4a3cd5-237e-41c9-84df-568ac2c5b50b   avt009
22  93b57a27-ef96-434a-a2fb-9659c964bbe7   avt008
23  4b0d4e77-26d6-4517-a661-89e7723a4479   avt007
24  e5282706-7ac0-496a-9117-3381fb084c7b   avt006
25  1cfdcd24-ddd6-4ed0-83e1-c21a6c031350   avt005
26  25aed8e9-318a-4c13-a9f3-c2ce81ad8456   avt004
27  9a10cfd4-2206-4840-bed6-f2ec189a5fd4   avt003
28  80591ae0-1ccc-480c-8343-7f6fbeb96e5f   avt002
29  2cffc6b2-da2f-4945-b0c6-5e036683d905   avt001
30  b597136d-fb54-409b-91a5-465f1715f909  75579-1
31  d10346c1-e9d2-4e13-8b2f-d67bddf75f2e  75578-1
32  469f96b0-9054-4c4b-826d-34241bfd3e3c  75577-1
33  8e54c728-005c-48a9-b4b5-b07553b59990  75576-1
34  3d486676-960d-4ce9-a061-9b6939cb2f54  75575-1
35  7f6a8086-12d2-4f67-9311-ce3bc39d1315  75574-1
36  299f3e73-f358-4d53-bb6c-f7e6654009f7  75573-1
37  8c4871e7-62f9-4d57-9658-5c712bf1ade9  75572-1
38  6dcc948d-50df-4939-acff-f90980afe3e8  75571-1